body {
  background-color: Black;
}
h1 {
  color: White;
  font-size: 400%;

}
p {
  color: White;
  font-size: 150%;
  font-family: Georgia;

}

a {
  color: White;
}
a:hover {
  color: AntiqueWhite;
}
b {
  color: aqua;
}